body { 
    background-color: lightblue;
    font: "Times New Roman", serif; 
}

h1 { 
    font-size: 50px;
    text-align: center;
    background-color: white;
    margin: 20px;
}

a { 
    font-size: 20px;
    padding: 10px;
    color: blue;
}